@import "./base.css";

*/ a {
  cursor: pointer;
}

.form-group {
  margin-bottom: 1.3rem;
}

.text-darker {
  font-weight: 600 !important;
}
.text-yellow {
  color: #f0b90b !important;
}

.text-blue {
  color: var(--product-price);
}

.bg-red {
  background-color: #fa5252 !important;
}

.text-red {
  color: #fa5252 !important;
}

.bg-orange {
  background-color: #ff8125 !important;
}

.bg-blue {
  background-color: #1988ec !important;
}

.border-blue {
  border-color: #1988ec !important;
}

.border-pink {
  border-color: #fa5252 !important;
}

.bg-pink {
  background-color: #f5219632;
}

.text-pink {
  color: #fa5252 !important;
}

.text-orange {
  color: #ff9401 !important;
}

.text-green {
  color: #0db866 !important;
}

.text-body {
  color: var(--body-color) !important;
}

.no-wrap {
  white-space: nowrap !important;
}
.max-line-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.max-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.skeleton-loader {
  background: linear-gradient(90deg, rgb(174, 164, 164) 25%, rgb(255, 255, 255) 50%, rgb(174, 164, 164) 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite linear;
}
@keyframes loading {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.modal-backdrop {
  background-color: #0000005b;
}

.rounded-4 {
  border-radius: 2rem !important;
}
.model-show {
  overflow-x: hidden;
  overflow-y: auto;
}
.inherit{
    font-size: inherit;
    font-weight: inherit;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}